.content-page{
   /* height: 1600px;*/
   width: 100%;
   direction: rtl !important;
   
}
.content-page .main_section{
    margin:50px 0;
}
.content-page .main_section .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.content-page .main_section .carousel-indicators li.active{
    background-color: #44a59e;
}
.content-page .main_section .carousel-inner .carousel-item{
    height: 510px;
}
.content-page .main_section .carousel-inner .carousel-item img{
    height: 100%;
}
.content-page .adv-deteails{
   margin-bottom: 50px;
}
.content-page .adv-deteails p{
    direction: rtl;
   line-height: 22px;
   font-size: 15px;
   font-family: 'Tajawal', sans-serif;
   text-align: right;
   font-weight: normal;
}

.contact_us {
    margin-top: 50px;
    background: none;
    height: 0;
    padding:0;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
}
.contact_us .contact-information .contact-info{
    margin-top: 0;
}
.footer{
    margin-top: 0;
    position: absolute;
    width: 100%;
    position: relative;
    bottom: 0;
}